<p-confirmDialog></p-confirmDialog>

<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <p-dataTable [value]="items | async" dataKey="id" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50]">
      <p-column field="id" header="ID" hidden="true"></p-column>
      <p-column field="GymId" header="Gym ID" [style]="{'width':'80px'}"></p-column>
      <p-column field="Name" header="Name" [style]="{'width':'130px'}" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="Type" header="Membership Type" [style]="{'width':'80px'}" [sortable]="true"></p-column>
      <p-column field="Status" header="Status" [style]="{'width':'120px'}" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-state="rowData" pTemplate="body">
          <span [style.color]="state[col.field]==='ACTIVE'?'green':'red'">{{state[col.field]}}</span>
        </ng-template>
      </p-column>

      <p-column field="StartDate" header="Payment Date" sortable="true" [style]="{'width':'120px'}">
        <ng-template let-col let-date="rowData" pTemplate="body">
          <span>{{date[col.field] | date}}</span>
        </ng-template>
      </p-column>
      <p-column field="Validity" header="Validity" sortable="true" [style]="{'width':'120px'}">
        <ng-template let-col let-date="rowData" pTemplate="body">
          <span>{{date[col.field] | date:'MMM  y'}}</span>
        </ng-template>
      </p-column>

      <p-column [style]="{'width':'120px', 'text-align':'center'}" header="Edit/Delete">

        <ng-template let-item="rowData" pTemplate="body">
          <button type="button" pButton (click)="onEditRow(item)" icon="fa-edit"></button>

          <!--button type="button" pButton (click)="deleteRecord(item)" icon="fa-trash" class="ui-button-danger"></button-->
          <button type="button" pButton (click)="confirmDeletion(item)" icon="fa-trash" class="ui-button-danger"></button>
        </ng-template>
      </p-column>

    </p-dataTable>
  </div>
  <div class="ui-g-1"></div>
</div>

<p-dialog header="Edit Subscription" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'minimum-width': '500px'}">
  <form #gymForm="ngForm" (ngSubmit)="updateSubscription(gymForm.value)">
    <div class="ui-g">
      <div class="ui-g-12 ui-g-nopad" style="text-align: center">
        <label class="ui-g-12 ui-g-nopad"><h3>{{gymSubscription.employeeName}}</h3></label>
      </div>

      <p-panel [toggleable]="true" [style]="{'margin-bottom':'20px'}" styleClass="ui-panel-title" class="ui-g-6">
        <div class="">
          <div class="ui-grid-row" style="display: none">
            
            <input type="text" [(ngModel)]="gymSubscription.id" name="id" #id="ngModel" class="form-control ui-grid-col-8"
              pInputText>
          </div>
          <div class="ui-grid-row">
            <label class="ui-grid-col-4">ReceiptNo</label>
            <input type="text" [(ngModel)]="gymSubscription.receipt" name="receipt" #receipt="ngModel" class="form-control ui-grid-col-8"
              pInputText>
          </div>
          <div class="ui-g-12"></div>
          <div class="ui-grid-row">
            <label class="ui-grid-col-4">Phone</label>
            <input type="text" [(ngModel)]="gymSubscription.phone" name="phone" #phone="ngModel" class="form-control ui-grid-col-8" pInputText>
          </div>
          <div class="ui-g-12"></div>
          <div class="ui-grid-row">
            <label class="ui-grid-col-4">Status</label>
            <p-selectButton [options]="statusValues" [(ngModel)]="gymSubscription.status" name="status" #status="ngModel" 
            class="form-control ui-grid-col-8 ui-g-nopad" [style]="{'font-size': 'x-small'}"></p-selectButton>
            <!--input type="text" [(ngModel)]="gymSubscription.status" name="status" #status="ngModel" class="form-control ui-grid-col-8"
              pInputText-->
          </div>
          <div class="ui-g-12"></div>
          <div class="ui-grid-row">
            <label class="ui-grid-col-4">Start Date</label>
            <p-calendar [(ngModel)]="gymSubscription.startDate" class="form-control ui-grid-col-8 ui-g-nopad" name="startDate" #startDate="ngModel"
              [showIcon]="true"></p-calendar>
          </div>
          <div class="ui-g-12"></div>
          <div class="ui-grid-row">
            <label class="ui-grid-col-4">Amount Paid</label>
            <!--input type="text" [(ngModel)]="gymSubscription.amountPaid" name="amountPaid" #amountPaid="ngModel" class="form-control ui-grid-col-8"
              pInputText-->
            <p-selectButton [options]="amount" [(ngModel)]="gymSubscription.amountPaid" name="amountPaid" #amountPaid="ngModel" class="form-control ui-grid-col-8 ui-g-nopad"></p-selectButton>
          </div>
          <div class="ui-g-12"></div>
          <div class="ui-grid-row">
            <label class="ui-grid-col-4">Comments</label>
            <textarea pInputTextarea [(ngModel)]="gymSubscription.comments" name="comments" #comments="ngModel" class="form-control ui-grid-col-8"
              rows="3" cols="20"></textarea>

          </div>

        </div>
      </p-panel>

      <p-panel [toggleable]="true" [style]="{'margin-bottom':'20px'}" styleClass="ui-panel-title" class="ui-g-6">
        <div class="ui-grid-row">
          <label class="ui-grid-col-4">Contact Name</label>
          <input type="text" [(ngModel)]="gymSubscription.contactName" name="contactName" #contactName="ngModel" class="form-control ui-grid-col-8"
            pInputText>
        </div>
        <div class="ui-g-12"></div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4">Contact Phone</label>
          <input type="text" [(ngModel)]="gymSubscription.contactPhone" name="contactPhone" #contactPhone="ngModel" class="form-control ui-grid-col-8"
            pInputText>
        </div>
        <div class="ui-g-12"></div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4">Relationship</label>
          <input type="text" [(ngModel)]="gymSubscription.relation" name="relation" #relation="ngModel" class="form-control ui-grid-col-8"
            pInputText>
        </div>
        <div class="ui-g-12"></div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4">Doctor Name</label>
          <input type="text" [(ngModel)]="gymSubscription.doctorName" name="doctorName" #doctorName="ngModel" class="form-control ui-grid-col-8"
            pInputText>
        </div>
        <div class="ui-g-12"></div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4">Doctor Phone</label>
          <input type="text" [(ngModel)]="gymSubscription.doctorPhone" name="doctorPhone" #doctorPhone="ngModel" class="form-control ui-grid-col-8"
            pInputText>
        </div>
        <div class="ui-g-12"></div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4">Health Issues</label>
          <textarea pInputTextarea [(ngModel)]="gymSubscription.ailments" name="ailments" #ailments="ngModel" class="form-control ui-grid-col-8"
            rows="3" cols="20"></textarea>
        </div>

      </p-panel>

    </div>
    <button pButton label="Submit" type="submit" style="margin-bottom: 5px"></button>
  </form>
</p-dialog>